<li>  
  <%= link_to image_tag(note.user.image_url, :width => 60), user_path(note.user)%>
  <span class="user-name">
    <b><%= link_to note.user.name, user_path(note.user) %></b>
  </span>
  <span style="font-size: 0.8em"><br>
    <%= note.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </span>
  <div class="right">
  <% if current_user?(note.user) %>
      <%= link_to fa_icon("pencil"), edit_note_path(note.id), :style=>"color:black;"%>
      <%= link_to fa_icon("trash-o"), note_path(note.id), method: "delete", "data-confirm" => "本当に削除しますか？" ,:style=>"color:black;"%>
    <% end %></div>
<BR><BR>
  <span class="content">
    <%= image_tag note.image, width:250 %><br>
    <%= note.content %>

    <div class="like-link" data-noteid="<%= note.id %>" class='like-link' >
  <!-- 以下をパーシャルに移動してください -->
      <%= render "likes/like_links",note: note%>
      <!-- ここまでパーシャルに移動 -->
</div>


    <div>
  <small>
    <%= link_to note.likes.count.to_s + "人", liking_users_note_path(note.id), data: {noteid: note.id }, class:'like-count' %>がいいね！といっています

  </small>
</div>


  </span>
</li>


