<li>  
  <%= image_for(note.user) %>
  <span class="user-name">
    <%= note.user.name %>
  </span>
  <span class="content">
    <%= link_to note.title, note_path(note.id) %>

    <div>
      <small>
        <%= note.likes.count %>人がいいね！といっています
      </small>
    </div>

  </span>
  <span>
    <%= note.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </span>
</li>


