<h2>内容</h2>
<p><%= @note.content %></p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @note.image? %>
    <div class="thumbnail">
      <%= image_tag @note.image.url %>
    </div>
<% end %>
</p>
<!-- 追加箇所 終了 -->

<div id="like-link">
  <!-- 以下をパーシャルに移動してください -->
<%= render "likes/like_links",note: @note %>
  <!-- ここまでパーシャルに移動 -->
</div>

<div>
  <small>
    <%= link_to @note.likes.count, liking_users_note_path(@note.id), id: "like-count" %>人がいいね！といっています

  </small>
</div>

<% if current_user?(@note.user) %>
  <%= link_to "編集", edit_note_path(@note.id), class: "btn edit-btn" %>
  <%= link_to "削除", note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
<% end %>