<% if user_signed_in? %>
  <aside class="sidebar">
    <%= render 'notes/form' %>
  </aside>
  <ul class="notes">
    <%= render @notes %> 
  </ul>
<% else %>
  <div class="top-wrapper">
    <div class="register-wrapper">
      <h1 class="top-message"><%= @message %></h1>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-large register-btn", style: "width: 300px" %>
      <br>
      <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-large register-btn", style: "width: 300px"  %>
    </div>
  </div>
<% end %>