<!DOCTYPE html>
<html>
<head>
  <title>Inustagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
    <body>
<% else %>
    <body style="background: url('/images/background.jpg') center center / cover no-repeat fixed;">
<% end %>
  <header class="navbar">
    <div class="container">
      <div id="logo"><%= link_to "Inustagram", root_path %></div>
      <% if user_signed_in? %>
        <ul class="header-right">
          <li><%= link_to current_user.email, current_user %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="header-right">
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </header>
  
  <div class="container">
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="container">
    <footer class="footer">
      <div class="small">
        &copy; 2017 wakaplu, Inc.
      </div>
    </footer>
  </div>
</body>
</html>
